/* main.css - central file importing all modular utilities */

@import url("./modules/colors.css");
@import url("./modules/display.css");
@import url("./modules/flex.css");
@import url("./modules/grid.css");
@import url("./modules/spacing.css");
@import url("./modules/sizing.css");
@import url("./modules/typography.css");
@import url("./modules/borders-and-rounds.css");
@import url("./modules/shadow-and-opacity.css");
@import url("./modules/cursor.css");
@import url("./modules/overflow.css");
@import url("./modules/position.css");
@import url("./modules/visibility.css");
@import url("./modules/z-index.css");
@import url("./modules/hover-and-focus.css");
